services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${MAIN_USER_DB_PG}
      POSTGRES_PASSWORD: ${PASS_DB_PG}
      POSTGRES_DB: ${NAME_DB_PG}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U \"$$POSTGRES_USER\" -d \"$$POSTGRES_DB\""]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - internal

  migrate:
    build:
      context: .
      dockerfile: Dockerfile.migrate
    environment:
      DB_PG_HOST: ${DB_PG_HOST}
      USER_DB_PG: ${MAIN_USER_DB_PG}
      PASS_DB_PG: ${PASS_DB_PG}
      NAME_DB_PG: ${NAME_DB_PG}
      APP_USER: ${USER_DB_PG}
      APP_PASSWORD: ${PASS_DB_PG}
    depends_on:
      postgres:
        condition: service_healthy
    command: ["up"]
    networks:
      - internal

  app:
    networks:
      - internal
      - public
    build: 
      context: .
      dockerfile: Dockerfile.golang
    depends_on:
      migrate:
        condition: service_completed_successfully

  caddy:
    image: caddy:2-alpine
    ports:
      - "8080:8080"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data      
      - caddy_config:/config
      - caddy_logs:/var/log/caddy
    depends_on:
      - app
    networks:
      - internal
      - public

networks:
  internal:
    internal: true
  public:


volumes:
  postgres_data:
  caddy_logs:
  caddy_data: 
  caddy_config: 